* {
	margin: 0;
	padding: 0;
	color: white;
	font-weight: bold;
}

canvas {
	border: 1px solid black;
}

body {
	overflow: hidden;
}

.ScoreP1{
	position: absolute;
	right: 2vw;
	top: 5vw;
	font-size: 2vw;
}

.ScoreP2{
	position: absolute;
	left: 2vw;
	top: 5vw;
	font-size: 2vw;
}

.Win {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 2vw;
}

.Footer {
	width: 100%;
	height: 50px;
	background-color: black;
}

.Home {
	position: absolute;
	left: 50%;
	top: 25px;
	transform: translate(-50%,-50%);
	font-size: 2vw;
	text-decoration: none;
}